@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none !important;
}


.cat403 {
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: #cdcdcd87;
    border-radius: 25px;
}


.px-4 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}


.gap-4 {
    gap: 0.3em;
}